@font-face {
    font-family: 'neiconfont';  /* project id 1176961 */
    src: url('//at.alicdn.com/t/font_1176961_mgtfaq8tnt9.eot');
    src: url('//at.alicdn.com/t/font_1176961_mgtfaq8tnt9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1176961_mgtfaq8tnt9.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1176961_mgtfaq8tnt9.woff') format('woff'),
    url('//at.alicdn.com/t/font_1176961_mgtfaq8tnt9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1176961_mgtfaq8tnt9.svg#neiconfont') format('svg');
  }

.icon-font {
    font-family: 'neiconfont' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: block;
    padding: 11px;
    font-size: 18px;
    color: #f1f1f1;
}

.icon-list::before {
    content: '\E653';
}

.icon-search::before {
    content: '\E63F';
}